html{
  height: 100%;
}

body {
 font-family: 'Roboto', sans-serif;
}

header {
  float: right;
}

h3 {
  margin: 0px;
}

.officialsList .row {
  margin-top: 10px;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 30px;
}

#site {
  margin-left: 30px;
  margin-top: 50px;
}

.nav a {
  margin: 5px 10px;
  font-size: 20px;
}

main.jumbotron {
  text-align: center;
  margin-bottom: 0;
}

main h4 {
  margin: 10px 0;
}

form {
  margin: 20px;
}

input {
  margin: 0 auto;
}

#toPhoneNumber {
  width: 300px;
}

#message {
  width: 100%;
  background-color: pink;
  position: absolute;
  z-index: 10;
}

#searchError {
  width: 100%;
  background-color: pink;
  position: absolute;
  z-index: 10;
}


#searchError p {
 margin: 0;
}

img {
  width: 100px;
  height: 100px;
  margin-top: 8px;
  margin-bottom: 8px;
}

#phoneForm, #addressForm {
  display: none;
}

footer .inner {
  display: none;
}

@media only screen and (min-width:550px) {
  #addressToSearch {
    width: 500px;
  }
}
