header {
   float:right;
}

.nav a {
  margin: 5px 10px;
  font-size: 20px;
}

main {
    text-align: center
}
main h4{
    margin: 10px 0;
}

img {
  width: 100px;
  height: 100px;
}
#phoneForm, #addressForm{
    text-align: center;
}

footer .inner {
    display: none;
}
