<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script> <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script> <![endif]-->
  </head>
  <body>
    <h1 id="site">Civically Engaged</h1>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <header class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"></h3>
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="/" onclick="clearAddress()">Start Over</a>

              </nav>
            </div>
          </header>
          <div class="clearfix"></div>

          <main class="jumbotron">
            <% if @message != '' %>
              <div id="message" class="col-sm-12">
                <p><%= @message %></p>
              </div>
            <%end%>
            <h4>Ready to get involved? Find your representatives Here!</h4>

            <form id="address" method="post">
              <div id="addressInput" class="form-group">
                <label for="address">Address</label>
                <input class="form-control" id="addressToSearch" name="address" placeholder="Address..."/>
                <small class="form-text text-muted">Enter an address to find your representatives.</small><br>
                <small class="form-text text-muted">We will not save your address, Promise!</small>
              </div>
              <button class="btn btn-primary" type="submit">Search</button>
            </form>
            <div id="searchError" class="col-sm-12">
              <p></p>
            </div>
              <div class="officials"></div>
            <form  id="phoneForm" action='/officials/send' method="post">
              <div id="phoneInput" class="form-group">
                <label for="toPhoneNumber">Phone number</label>
                <input class="form-control" id="toPhoneNumber" name="toNumber" placeholder="10 digit phone number"/>
                <small class="form-text text-muted">Place a check to send to your phone.</small>
              </div>
              <button id="phone" class="btn btn-primary" type="submit">Send</button>
            </form>

          </main>

        </div>

      </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.js"></script>
    <script id="civic" type="text/x-handlebars-template">

      <div id="body" class="container officialsList">
        <div class="row">

          <div class="col-sm-4">

            <h3>
              {{name}}
            </h3>


             <img src={{photoUrl}} alt="Photo of official not available"/>
            <h5>
              {{position}}</h5>

          </div>
          <div class="col-sm-4">
            <p>Party:
              {{party}}</p>
               <p>Email:
                {{email}}</p>
                 <p>Phone:
              {{phone}}</p>
              {{#if url }}
                <a href={{url}} target="_blank">Website</a>
              {{ else }}
                Unknown
              {{/if }}
          </div>
          <div class="col-sm-4">

            <input class="sendOfficials" name="officials-to-send" value={{id}} type="checkbox"/>
            <p>Text this info?</p>

          </div>

        </div>
      </div>

      <hr>

    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/javascript/main.js"></script>
  </body>
</html>
